{% extends 'admin/change_form.html' %}

{% load custom_tags %}
{% block breadcrumbs %}{{ block.super }}
    {% current_status original|truncatewords:"18" as ct %}

    <div class="breadcrumbs">
        <h1>Tensorflow Model Statuses: mobile model - {{ct.mobile_tensor_status}} ;   backend model - {{ct.tensor_status}}</h1>
    </div>
{% endblock %}

{% block submit_buttons_bottom %}
    {{ block.super }}
    {% current_status original|truncatewords:"18" as ct %}
    {% if ct.mobile_tensor_status == None and ct.tensor_status == None or ct.mobile_tensor_status == 'none' and ct.tensor_status == 'none' %}
        <h2>Please add at least 5 objects with 20 images for each object that should be recognizable</h2>
        <div class="submit-row">
                <input type="submit" value="Build Tensorflow Model" name="_create_model">
        </div>
    {% elif ct.mobile_tensor_status == 'Model creation error, please add more objects with tensor images' and ct.tensor_status == 'Model creation error, please add more objects with tensor images' %}
        <h2>Please add at least 5 objects with 20 images for each object that should be recognizablee</h2>
        <div class="submit-row">
                <input type="submit" value="Rebuild  Tensorflow Model" name="_create_model">
        </div>
    {% elif ct.mobile_tensor_status != 'Ready!' or ct.tensor_status != 'Ready!' %}
        <div class="submit-row">
                <input type="submit" value="Tensorflow Model still processing" name="_create_model" disabled>
        </div>
    {% else %}
        <div class="submit-row">
                <input type="submit" value="Rebuild Tensorflow Model " name="_create_model">
        </div>
    {% endif %}
{% endblock %}